.dashboard {
    display: flex;
    height: 100vh;
    font-family: Arial;
  }
  .filters {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .filters button {
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    background: #e2e8f0;
    cursor: pointer;
  }
  
  .filters button:hover {
    background: #cbd5f5;
  }
  
  
 
  .sidebar ul li a:hover {
    background: white;
  }
  .icon {
    font-size: 20px;
    color: black;
  }
  .active-link {
    background: white;
    border-radius: 6px;
    padding: 8px;
  }
  
  
  .sidebar.closed ul li a {
    justify-content: center;
  }
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 12px 0;
  }
  .sidebar.closed {
     transform: translateX(-100%);
      
  }
  
  .sidebar {
    position: fixed;        /* 🔥 KEY */
    top: 0;
    left: 0;
    height: 100vh;
    width: 220px;
    background:  #e2e8f0;
    color: white;
    padding: 20px;
    transition: transform 0.3s ease;
    z-index: 1000;
  }
  

  /* Main area */
  .main {
    margin-left: 240px;
    width:100%;
    transition: margin-left 0.3s ease;
    padding:20px
  }
  .main.full {
    margin-left: 0;
    width: 100%;   /* 🔥 KEY */
  }
 
  
  /* Top bar */
  .topbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #f1f5f9;
  }
  
  .topbar input {
    width: 60%;
    padding: 6px;
  }
  
  /* Content */
 
  .content {
    background: #f8fafc;
  }
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border 0.2s ease, box-shadow 0.2s ease;
  }
  
  /* Focus state */
  .input:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
  }
  
  /* Error text */
  .error-text {
    color: #ff0000;
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
  }
  .icon {
  font-size: 20px;
  min-width: 20px;
}
.title {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.title.hide {
  opacity: 0;
}
body {
  overflow-x: hidden;
}